
body {
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 10em;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    padding: 1em;
}

:target {
    border: 1px dotted blue;
}


summary {
    border: 1px solid silver;
}

caption, .caption, figcaption {
    font-size: 80%;
    caption-side: top;
    text-align: left;
}

thead td {
    font-weight: bold;
}

a:focus, a:active, a:hover {
  outline-width: 1px;
  outline-style: dashed;
  outline-color: red;
}

:target {
  border: 2px solid black;
}

