/* STANDARD STYLES */
body {
	
}

.navbar {
    border-radius: 0px;
    border: 0px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
}

.offscreen {
clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}





/* BOOTSTRAP STYLES */
